# Auto-detect text files and normalize line endings to LF on checkin
* text=auto

# Explicitly declare text files you always want normalized and converted to LF on checkin
*.sh text eol=lf
*.py text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.ts text eol=lf
*.js text eol=lf
*.vue text eol=lf
*.html text eol=lf
*.css text eol=lf
*.scss text eol=lf

# Declare files that will always have CRLF line endings on checkout
*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
