apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: reddog.binding.receipt
  namespace: reddog-retail
  labels:
    app.kubernetes.io/name: receipt-generation
    app.kubernetes.io/component: object-storage
    app.kubernetes.io/environment: aws
spec:
  type: bindings.aws.s3
  version: v1
  metadata:
    - name: bucket
      value: reddog-receipts-<env>
    - name: region
      value: us-east-1
    - name: endpoint
      value: https://s3.amazonaws.com
    - name: encodeBase64
      value: "true"
    - name: authType
      value: iam
    - name: s3ForcePathStyle
      value: "false"
    - name: deleteAfterRead
      value: "false"
scopes:
  - receipt-generation-service
auth:
  secretStore: reddog.secretstore
