---
# AWS EKS IAM Roles for Service Accounts (IRSA)
# https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html
apiVersion: v1
kind: ServiceAccount
metadata:
  name: loyalty-service-sa
  namespace: reddog-retail
  annotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::ACCOUNT_ID:role/reddog-loyalty-role"
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: makeline-service-sa
  namespace: reddog-retail
  annotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::ACCOUNT_ID:role/reddog-makeline-role"
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: order-service-sa
  namespace: reddog-retail
  annotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::ACCOUNT_ID:role/reddog-order-role"
