---
# GCP GKE Workload Identity Service Accounts
# https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity
apiVersion: v1
kind: ServiceAccount
metadata:
  name: loyalty-service-sa
  namespace: reddog-retail
  annotations:
    iam.gke.io/gcp-service-account: "reddog-loyalty@PROJECT_ID.iam.gserviceaccount.com"
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: makeline-service-sa
  namespace: reddog-retail
  annotations:
    iam.gke.io/gcp-service-account: "reddog-makeline@PROJECT_ID.iam.gserviceaccount.com"
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: order-service-sa
  namespace: reddog-retail
  annotations:
    iam.gke.io/gcp-service-account: "reddog-order@PROJECT_ID.iam.gserviceaccount.com"
