@use '../../bootstrap/mixins' as *;
@use '../../bootstrap/functions' as *;
@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;
.map {
  width:100%;
  min-width:290px;
  height: 1200px;
  min-height: calc(100% - 20px);
}
