@use 'sass:color' as color;
// Contextual backgrounds
@use '../variables' as *;
@use '../functions' as *;
@mixin bg-variant($parent, $color) {
    #{$parent} {
        background-color: $color !important;
    }
    a#{$parent},
    button#{$parent} {
        @include hover-focus {
            background-color: color.adjust($color, $lightness: -10%) !important;
        }
    }
}

@mixin bg-gradient-variant($parent, $color) {
    #{$parent} {
        background: linear-gradient(87deg, $color 0, adjust-hue($color, 25%) 100%) !important;
    }
}
