apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: reddog.binding.receipt
  namespace: reddog-retail
  labels:
    app.kubernetes.io/name: receipt-generation
    app.kubernetes.io/component: object-storage
    app.kubernetes.io/environment: azure
spec:
  type: bindings.azure.blobstorage
  version: v1
  metadata:
    - name: storageAccount
      value: reddogreceipts<env>
    - name: containerName
      value: receipts
    - name: decodeBase64
      value: "true"
    - name: authMode
      value: workloadIdentity
    - name: azureEnvironment
      value: AzurePublicCloud
scopes:
  - receipt-generation-service
auth:
  secretStore: reddog.secretstore
