---
# Azure Workload Identity Service Accounts
# https://learn.microsoft.com/en-us/azure/aks/workload-identity-overview
apiVersion: v1
kind: ServiceAccount
metadata:
  name: loyalty-service-sa
  namespace: reddog-retail
  annotations:
    azure.workload.identity/client-id: "LOYALTY_MANAGED_IDENTITY_CLIENT_ID"
  labels:
    azure.workload.identity/use: "true"
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: makeline-service-sa
  namespace: reddog-retail
  annotations:
    azure.workload.identity/client-id: "MAKELINE_MANAGED_IDENTITY_CLIENT_ID"
  labels:
    azure.workload.identity/use: "true"
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: order-service-sa
  namespace: reddog-retail
  annotations:
    azure.workload.identity/client-id: "ORDER_MANAGED_IDENTITY_CLIENT_ID"
  labels:
    azure.workload.identity/use: "true"
