@use '../bootstrap/mixins' as *;
@use '../bootstrap/functions' as *;
@use 'variables' as *;
@use 'mixins' as *;
@use 'functions' as *;
img{
    max-width: 100%;
    // border-radius: $border-radius-sm;
}
.img-raised{
    box-shadow: $box-shadow-raised;
}
